#mainmenu{
	-fx-background-image: url('wall_box.png');
	-fx-padding: 20 20;
}

.button{
	
    -fx-background-color: 
        linear-gradient(#000000, #000000),
        linear-gradient(#000000, #000000),
        linear-gradient(#850000, #850000),
        linear-gradient(#ff0000 0%, #e80000 50%, #850000 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #000000;
    -fx-font-family: arial;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}

.button:hover{
    -fx-background-color: 
        linear-gradient(#000000, #000000),
        linear-gradient(#000000, #000000),
        linear-gradient(#cd0000, #cd0000),
        linear-gradient(#ff5151 0%, #ff1111 50%, #cd0000 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}

.button:pressed{
    -fx-background-color:
        linear-gradient(#000000, #000000),
        linear-gradient(#000000, #000000),
        linear-gradient(#4a0000, #4a0000),
        linear-gradient(#d10000 0%, #ba0000 50%, #4a0000 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}

.label {
    -fx-font-size: 20px;
    
}

.radio-button {
	-fx-font-size: 14px;
}